
/*
 *  STYLE 3
 */

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #000000;
}


.console {
	display: block;
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: #000;
	font-size: 12px;
	line-height: 1;
	background-color: #fff;
	animation-duration: 0.4s;
}