*{
	padding: 0;
	margin: 0;
}
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #fff;
}




*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #000000;
}


.console {
	display: block;
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: #000;
	font-size: 12px;
	line-height: 1;
	background-color: #fff;
	animation-duration: 0.4s;
}


a{
	color: #000;
	text-decoration: none;
	font-family: '黑体';
	font-size: 18px;
}

.blog-item{
	display: block;
	float: left;
	line-height: 32px;
	border-radius: 2px;
	padding: 10px;
	margin: 10px;
	box-shadow: 1px 1px 2px #9e9e9e;
	transition: all .1s;
}
.blog-item:hover{
	box-shadow: 2px 2px 8px #9e9e9e;
}

.blog-item img
{
	float: left;
}
.blog-item div{
	float: left;
	padding: 0 10px;
	height: 32px;
}

.skills-wrap {
	
}