* {
    padding: 0;
    margin: 0;
    font-family: Roboto,"Noto Sans SC",Helvetica,Arial,sans-serif
}

ui-shade,
.ui-shade ui-confirm,
.ui-confirm {
    display: block;
}

.ui-btn {
    background-color: rgba(0,0,0,.04);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 12px;
    height: 32px;
}
.ui-btn:hover{
    background-color: #ddd;
}


ui-shade,
.ui-shade {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; // background-color: rgba(0, 0, 0, 0.2);
}

ui-confirm,
.ui-confirm {
    position: fixed;
    width: 260px;
    height: 130px;
    background-color: #fff;
    border-radius: 3px; 
    box-shadow: 2px 2px 8px #666;
    /*box-shadow: 2px 2px 8px #9E9E9E;*/
    padding: 20px 10px 10px;
    top: 200px;
    left: 500px;
}
.ui-confirm-content{
    font-size: 20px;
    line-height: 1.4;
}
.ui-confirm-operate{
    position: absolute;
    bottom: 10px;
    right: 0;
    height: 32px;
}
.ui-confirm-operate .ui-btn{
    margin-right: 10px;
}

.ui-calendar {
    /*position: fixed;*/
    top: 100px;
    left: 200px;
    font-size: 12px;
    width: 224px;
    display: table-row-group;
    margin: 40px;
}

.ui-calendar .ui-calendar-row {
    display: table-row;
}





.ui-toast{
    position: fixed;
    bottom: 0;
    border-radius: 2px 2px 0 0;
    color: #fff;
    font-size: 14px;
    line-height: 48px;
    height: 48px;
    padding: 0 24px;
    background-color: rgba(0, 0, 0, .8);
    transition: all .1s;
    opacity: 0;
    min-width: 100px;
}

.ui-toast.toastout{
    animation: toastout .1s forwards;
}



/*.ui-calendar>.ui-calendar-row:after {
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}*/
.ui-calendar .ui-calendar-row>div{
	display: table-cell;
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	margin: 4px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
}
.ui-calendar .ui-calendar-row>div.today {
	background-color: #03a9f4;
	color: #fff;
}
/*.ui-calendar>.ui-calendar-row>div:hover{
	background-color: #03a9f4;
	color: #fff;
}*/


@keyframes toastout { 
    0% { opacity: 1;} 
    100% { opacity: 0;bottom: -48px;} 
} 




/* css 禁止选中文本。在 IE < 10 和Opera < 15中，我们需要在需要禁止选中的元素上面添加一个属性unselectable="on" */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

/* 下拉选项框 */
.ui-select{    
    display: inline-block;
    position: relative;
    font-size: 14px;
    width: 190px;
    cursor: pointer;
}
.ui-select-title{
    padding: 0 8px;
    background-color: #F5F5F5;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ui-options{
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    display: none;
    padding: 8px 0;
    transition: opacity .1s linear;
    background: #ffffff;
    border: 0;
    -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    opacity: 0;
    outline: none;
    overflow: hidden;
    overflow-y: auto;
    z-index: 2000;
    border-radius: 2px;
}
.ui-options.show{
    display: block;
    opacity: 1;
}
.ui-options dd{
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    color: #222;
    list-style: none;
    border-color: transparent;
    outline: none;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    height: 36px;
    line-height: 36px;
    padding: 0 8px;
}
.ui-options dd.ui-options-this, .ui-options dd:hover{
    background-color: #eeeeee;
}
.ui-options::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}
.ui-options::-webkit-scrollbar{
    width: 6px;
    background-color: #BDBDBD;
}
.ui-options::-webkit-scrollbar-thumb{
    background-color: #BDBDBD;
}

.ui-icon{
    display: block;
    width: 0;
    height: 0;
    border-width: 4px 4px 0 4px;
    border-color: #757575 transparent;
    border-style: dashed;
    position: absolute;
    top: 16px;
    right: 8px;
}